In [1]:
import numpy as np
import pandas as pd
from skimage import color

In [2]:
#read in copic marker -> hex table
df = pd.read_html('https://github.com/mihaelamj/uicolor-copic')[0]
df

      0                 1                           2        3
0   NaN     copic_0_Color     [UIColor copic_0_Color]  #FFFFFF
1   NaN   copic_100_Color   [UIColor copic_100_Color]  #312B2B
2   NaN   copic_110_Color   [UIColor copic_110_Color]  #030708
3   NaN   copic_b00_Color   [UIColor copic_b00_Color]  #DDF0F4
4   NaN  copic_b000_Color  [UIColor copic_b000_Color]  #E6F4F5
..   ..               ...                         ...      ...
346 NaN  copic_yr31_Color  [UIColor copic_yr31_Color]  #FFDEA8
347 NaN  copic_yr61_Color  [UIColor copic_yr61_Color]  #FDDAC4
348 NaN  copic_yr65_Color  [UIColor copic_yr65_Color]  #FAAE60
349 NaN  copic_yr68_Color  [UIColor copic_yr68_Color]  #F37022
350 NaN  copic_yr82_Color  [UIColor copic_yr82_Color]  #FDC68D

[351 rows x 4 columns]

In [3]:
#remove uneccesary info and rename columns
df = df[[1,3]]
df.columns = ['marker_name', 'hex']
df

          marker_name      hex
0       copic_0_Color  #FFFFFF
1     copic_100_Color  #312B2B
2     copic_110_Color  #030708
3     copic_b00_Color  #DDF0F4
4    copic_b000_Color  #E6F4F5
..                ...      ...
346  copic_yr31_Color  #FFDEA8
347  copic_yr61_Color  #FDDAC4
348  copic_yr65_Color  #FAAE60
349  copic_yr68_Color  #F37022
350  copic_yr82_Color  #FDC68D

[351 rows x 2 columns]

In [4]:
#keep only the relevant portion of the marker name
df['marker_name'] = df['marker_name'].apply(lambda x: x.split('_')[1])
df

/var/folders/9_/z9by0xq57qdcpjt80qhl5rm40000gn/T/ipykernel_19378/3401989633.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marker_name'] = df['marker_name'].apply(lambda x: x.split('_')[1])

    marker_name      hex
0             0  #FFFFFF
1           100  #312B2B
2           110  #030708
3           b00  #DDF0F4
4          b000  #E6F4F5
..          ...      ...
346        yr31  #FFDEA8
347        yr61  #FDDAC4
348        yr65  #FAAE60
349        yr68  #F37022
350        yr82  #FDC68D

[351 rows x 2 columns]

In [5]:
#convert hex to rgb
#code stole from https://stackoverflow.com/questions/29643352/converting-hex-to-rgb-value-in-python
df['rgb'] = df['hex'].apply(lambda x: list(int(x.lstrip('#')[i:i+2], 16) for i in (0, 2, 4)))
df

/var/folders/9_/z9by0xq57qdcpjt80qhl5rm40000gn/T/ipykernel_19378/3478071020.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rgb'] = df['hex'].apply(lambda x: list(int(x.lstrip('#')[i:i+2], 16) for i in (0, 2, 4)))

    marker_name      hex              rgb
0             0  #FFFFFF  [255, 255, 255]
1           100  #312B2B     [49, 43, 43]
2           110  #030708        [3, 7, 8]
3           b00  #DDF0F4  [221, 240, 244]
4          b000  #E6F4F5  [230, 244, 245]
..          ...      ...              ...
346        yr31  #FFDEA8  [255, 222, 168]
347        yr61  #FDDAC4  [253, 218, 196]
348        yr65  #FAAE60   [250, 174, 96]
349        yr68  #F37022   [243, 112, 34]
350        yr82  #FDC68D  [253, 198, 141]

[351 rows x 3 columns]

In [6]:
#convert rgb values to cielab
#have to scale rgb values from 0-1 because skimage requires it 
df['lab'] = df['rgb'].apply(lambda x: color.rgb2lab([v/255 for v in x]))
df

,marker_name,hex,rgb,lab
0,0,#FFFFFF,"[255, 255, 255]","[100.0, -0.0024549378620508655, 0.004653421154..."
1,100,#312B2B,"[49, 43, 43]","[18.16637066752744, 2.735136890494899, 1.00014..."
2,110,#030708,"[3, 7, 8]","[1.7057662929096082, -0.9070752709873092, -0.7..."
3,b00,#DDF0F4,"[221, 240, 244]","[93.54719426583233, -5.466362707736483, -4.060..."
4,b000,#E6F4F5,"[230, 244, 245]","[95.20980585953642, -4.411542060010154, -2.065..."
...,...,...,...,...
346,yr31,#FFDEA8,"[255, 222, 168]","[90.01357332080474, 3.909355016538163, 30.7277..."
347,yr61,#FDDAC4,"[253, 218, 196]","[89.39928698491687, 8.842561667350147, 15.3226..."
348,yr65,#FAAE60,"[250, 174, 96]","[76.94800048002737, 20.20605443884682, 50.4725..."
349,yr68,#F37022,"[243, 112, 34]","[62.3080604587705, 46.448920681593954, 62.5254..."
350,yr82,#FDC68D,"[253, 198, 141]","[83.54633781088594, 12.590176522701835, 36.025..."

In [7]:
#write to parquet file
df.to_parquet('copic_colors.parquet')